.head {
    background: royalblue;
    position: initial;
    padding-top: 2em;
    height: 20em;
}
.head-diagonal:before {
    content: "";
    /*background: inherit;*/
    display: block;
    height: 28em;
    width: 100%;
    position: absolute;
    margin-top: -6em;
    transform: skewY(-4deg);
    background: url(../images/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.head h1 {
    color: antiquewhite;
}
.head h1 small {
    color: rgba(255, 255, 255, 0.7);
}
.melayang{
  box-shadow: 0 0 5px gray;
}
.kartu{
  padding: 1em;
  border-radius: 3px;
  background-color: white;
  margin-bottom: 1em;
}
body{
  background-color: #ddd;
}
